@font-face {
    font-family: Bold;
    src: url("../fonts/CormorantGaramond-Bold.ttf");
}

@font-face {
    font-family: Regular;
    src: url("../fonts/CormorantGaramond-Regular.ttf");
}

@font-face {
    font-family: Italic;
    src: url("../fonts/CormorantGaramond-Italic.ttf");
}

:root{
    --grau:#333333;
    --hell-grau: #737B80;
    --begie: #E9E9E0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--begie);
    font-size: 62.5%;
    color: var(--grau);
    margin: 0 55px;
}

/* Fonts */
.bold{
    font-family: Bold;
}
.regular{
    font-family: Regular;
}
.italic{
    font-family: Italic;
}
p{
    font-family: Regular;
    font-size: clamp(0.5rem, 1vw, 1rem);
    color: var(--grau);
}

/* flex */
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
.center {
    justify-content: center;
    align-items: center;
}



/* #+++ header +++#  */

.topbar{
    height: 50px;
}
.topbar h2{
    font-size: clamp(1rem, 1.8vw, 1.8rem);
    color: var(--grau);
}

.navbar{
    border-color: var(--grau);
    border-style: double;
    border-width: 4px 0 4px 0;
    height: 35px;
    align-items: center;

}

/* !+++main!+++ */

.container{
    margin-top: 20px;
}
.left{
    width: 85%;
}
.left h2{
    font-size: clamp(1rem, 2.1vw , 2.1rem);
    width: 70%;
    margin: 15px auto;
    font-weight: 300;
}

.grid{
    display: grid;
    grid-template-rows: 14% 28% 50%;
    grid-template-columns: 20% 20% 60%;
    grid-template-areas:
        "header header1 side"
        "main main1 side"
        "footer footer1 side";
}

/* .raster{
    width: 220px;
} */

.raster:nth-of-type(1) {
    grid-area: header;
}
.raster:nth-of-type(2){
    grid-area: header1;
}
.raster:nth-of-type(3) {
    grid-area: main;
}
.raster:nth-of-type(4){
    grid-area: main1;
}
.raster:nth-of-type(5) {
    grid-area: footer;
}
.raster:nth-of-type(6){
    grid-area: footer1;
}
.raster:nth-of-type(7) {
    grid-area: side;
}


.grid h3{
    font-size: clamp(0.7rem, 1.5vw , 1.5rem);
    font-weight: 300;
}

.raster:nth-of-type(7) img{
    width: 95%;
    height: 70%;
}
.raster:nth-of-type(7) p{
    font-family: Italic;
}

.grid2{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 15px;
}
.grid2 div:nth-of-type(2) p{
    width: 160px;
}
.grid2 div:nth-of-type(2) h2{
    font-size: clamp(0.5rem, 1.5vw , 1.5rem);
}
.grid2 div:nth-of-type(2) p:nth-of-type(2){
    color: var(--hell-grau);
    font-size: clamp(0.5rem, 1.2vw , 1.2rem);
}

.raster2{
    border: 4px double var(--grau);
    width: 217px;
    height: 219px;
    
}
.raster2:nth-of-type(1) h2{
    font-size: clamp(1rem,3.1vw , 3.1rem);
    text-align: center; 
    font-weight: 300;
}

.raster2:nth-of-type(2) {
    text-align: center; 
}

.raster2:nth-of-type(3) img {
    width: 160px;
    
}